@import url('opensanscondesed.css');

body {
    margin:0;
    font-family:'Open Sans Condensed', sans-serif;
    text-align:center;
    color: #999;
    background-color: #F2FAA7;
}

.welcome {
    width: 300px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -100px;
}

a, a:visited {
    text-decoration:none;
}

#container {
    width: 100%;
}

#scores {
    width: 100%;
    height: 312px;
}

.team {
    background-color: #C6D068;
    height: 300px;
    float: left;
    border: 1px solid #737D15;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
}

.team h1 {
    color: #000;
    margin: 0;
    padding: 10px 0 10px 0;
    width: 100%;
    font-size: 24px;
    background-color: red;
    border-bottom: 1px solid #737D15;
}

.score {
    font-size: 217px;
    font-family: Arial;
    margin: 0;
    padding: 0;
    color: #4B5300;
    font-weight: bold;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.team span {
    color: #737D15;
    font-size: 30px;
    cursor: pointer;
}

.modifyscore {
    margin-top: -49px;
    width: 107px;
    height: 46px;
    float: right;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.team span:hover {
    color: #4B5300;
}

#teamA h1 {
    background-color: pink;
}

#teamB h1 {
    background-color: yellow;
}

#teamC h1 {
    background-color: blue;
}

.onethird {
    width: 32.2%;
}

#gamebar {
    width: 98.4%;
    height: 68px;
    background-color: #C6D068;
    float: left;
    border: 1px solid #737D15;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    overflow: hidden;
}

#categorytitle {
    width: 70%;
    float: left;
    font-size: 40px;
    margin: 5px 0 0 0;
    font-weight: bold;
    color: #4B5300;
}

#gameid {
    float: right;
    font-size: 40px;
    margin: 5px 10px 0 0;
    color: #4B5300;
}

#newgame {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    color: #C6D068;
    font-size: 20px;
    background: #737D15;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 10%;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    float: left;
}

#newgame:hover {
    background: #4B5300;
    text-decoration: none;
}

#gamedetails {
    width: 29%;
    height: 200px;
    float: left;
    background-color: #C6D068;
    border: 1px solid #737D15;
    padding: 20px;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    overflow: hidden;
}

#gamedetails p {
    color: #4B5300;
    font-size: 28px;
}

#gameimage {
    display: none;
    height: 240px;
    float: left;
    background-color: #C6D068;
    border: 1px solid #737D15;
    color: #4B5300;
    padding: 0;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
}

#start {
    width: 14.5%;
    height: 240px;
    float: left;
    background-color: #C6D068;
    border: 1px solid #737D15;
    color: #4B5300;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
}

.button {
    -webkit-border-radius: 11;
    -moz-border-radius: 11;
    border-radius: 11px;
    color: #C6D068;
    font-size: 20px;
    background: #737D15;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    width: 10%;
    margin: 10px;
    cursor: pointer;
    font-weight: bold;
    float: left;
}

.button:hover {
    background: #4B5300;
    text-decoration: none;
}

#commencez {
    padding-top: 95px;
    width: 150px;
    height: 110px;
}

#countdown {
    width: 950px;
    height: 500px;
    float: left;
    background-color: #C6D068;
    border: 1px solid #737D15;
    color: #4B5300;
    padding: 0;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
}

#clock {
    font-family: Arial;
    font-weight: bold;
    font-size: 430px;
    color: red;
}

#reponse {
    clear: both;
}

#fermer {
    clear: both;
}

#gameanswer {
    display: none;
    width: 32.6%;
    height: 240px;
    float: left;
    background-color: #C6D068;
    border: 1px solid #737D15;
    padding: 0px;
    margin: 5px;
    -webkit-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    box-shadow: 1px 1px 12px 0px rgba(0,0,0,0.45);
    overflow: hidden;
}

#gameanswer p {
    font-size: 40px;
    color: #4B5300;
    font-weight: bold;
}